:host {
  .tracklist {
    display: grid;
    font-size: 1.25rem;

    .track {
      display: grid;
      grid-template: 1fr / 1fr 10fr 1fr 1fr;
      cursor: pointer;

      .action {
        font-size: 1.5rem;
        align-self: center;
        justify-self: center;
      }
    }
  }
}
