:host {
  display: grid;
  grid-template-areas:
    'nav-bar main-view'
    'bottom-bar  bottom-bar';

  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr 100px;

  justify-items: stretch;
  align-items: stretch;

  height: 100vh;

  nav-bar {
    grid-area: nav-bar;
  }

  main-view {
    grid-area: main-view;
  }

  bottom-bar {
    grid-area: bottom-bar;
  }
}
